# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Environment variables
.env
*.env

#Python Version
.python-version

# Test Files
test/

# Notebook cp
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Data files
*.csv
*.parquet
*.json
*.gz
*.zip

# Logs
*.log
logs/

# OS/editor
.DS_Store
.vscode/
.idea/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Docker
docker-data/
postgres-data/